[submodule "firmware/esp32_s3_uvc_camera/lib/esp32_usb_stream"]
	path = firmware/esp32_s3_uvc_camera/lib/esp32_usb_stream
	url = https://github.com/esp-arduino-libs/ESP32_USB_Stream.git
[submodule "firmware/cnc_interface/lvgl_ui"]
	path = firmware/cnc_interface/lvgl_ui
	url = git@github.com:thingsapart/lvgl_ui.git
    branch = jules-rewrites
[submodule "firmware/cnc_interface/lib/esp32_lcd_controllers"]
	path = firmware/cnc_interface/lib/esp32_lcd_controllers
	url = https://github.com/thingsapart/esp32_lcd_controllers
