# sdkconfig.defaults

# Enable PSRAM
CONFIG_SPIRAM=y

# Set PSRAM Mode to Octal
CONFIG_SPIRAM_MODE_OCT=y

# Set the target PSRAM clock pin frequency
# For the ESP32-P4, this is the main configuration for the clock speed.
CONFIG_ESP_DEFAULT_PSRAM_CLK_IO=200

# Set the flash frequency (must be compatible)
CONFIG_ESPTOOLPY_FLASHFREQ_200M=y
CONFIG_ESPTOOLPY_FLASHFREQ="200m"
CONFIG_LIBSODIUM_USE_MBEDTLS_SHA=n

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_CXX_EXCEPTIONS=y